# veridic function

In [1]:
from warnings import filterwarnings
filterwarnings("ignore")

In [7]:
def multiply(a: int | float, b: int | float) -> int | float:
    """
      Input  : this function takes two numbers as input
    Output  : mutlipication
    """
    c = a + b
    return c

In [1]:
m1 = multiply(3,4)

NameError: name 'multiply' is not defined

In [9]:
m1

7

In [10]:

m2 = multiply( a= 23.4 , b= 23.4)

In [11]:
m2

46.8

### operation

In [2]:
def opertion( a1 :int|float , b1 :int|float) -> int | float:
    """ 
   input: give input for operation
    outpur :result
   """
    c1= a1*b1
    c2 = a1/b1
    c3 = a1- b1
    return(c1)
    return(c2)
    return(c3)

In [3]:
m3 = opertion(20.3,60.3)

In [5]:
m4 =opertion(10,20)

In [6]:
m4

200

In [20]:
m3 = opertion(a1= 10, b1=5)

In [21]:
m3

(50, 2.0, 5)

### argument in function.
* args - it act like tuple.

In [22]:
def function1(*args):
    print(args)
    print(type(args))
    for  i in  args:
        print(i)

In [24]:
function1("neelima",301)

('neelima', 301)
<class 'tuple'>
neelima
301

In [25]:
function1(201)

(201,)
<class 'tuple'>
201

In [26]:
def function2(*args):
    print(args)
    print(type(args))
    for i in args:
        print(i)

In [27]:
function2("soni",101,"satna")

('soni', 101, 'satna')
<class 'tuple'>
soni
101
satna

### pass lis into function.

In [28]:
list1=[10,20,30,40,50]
print(list1)
print(type(list1))

[10, 20, 30, 40, 50]
<class 'list'>

In [31]:
function2(*list1)

(10, 20, 30, 40, 50)
<class 'tuple'>
10
20
30
40
50

In [ ]:
def function3(list2 ,i):
    l=[101,102,103]
    list2=i
    print(list2)

In [38]:
function3(*i)

NameError: name 'i' is not defined

### write veriadic function to multiply for product.

In [14]:
def product(*args):
    p = 1
    for i in args:
        p= p * i
    return p

In [15]:
product(10,20)

200

In [16]:
product(2,25,20)

1000

In [18]:
list3= [200,300,400]

In [22]:
product(*list3)

24000000

Billing example

In [23]:
cus1 =[
    ("mobile",35000,2),
    ("screen guard",12000 ,4),
    ("cover",300,4)


]

In [49]:
def billing(tax_rate : int|float ,*args):
    #initalize total before tax
    total_befero_tax = 0

    # apply for loop an args
    for name ,price ,qty in args:
        item_total = price * qty
        total_befero_tax = total_befero_tax + item_total
        print(f"prodcut name :{name},price:{price} INR,quantity : {qty} nos")
        print(f"item total: {item_total : .2f} INR")
        print("\n=======================================\n")
        ## apply tax on total_befoe_tax
        tax = (tax_rate /100) * total_befero_tax
        final_amount = total_befero_tax  +  tax
        # show the tax and final total
        print(f"total before tax: {total_befero_tax:.2f} INR")
        print(f"tax:{tax:.2f}INR")
        print(f"final total: {final_amount:.2f}INR")
        # return th values of final total.
        return final_amount

In [45]:
cus1

[('mobile', 35000, 2), ('screen guard', 12000, 4), ('cover', 300, 4)]

In [48]:
billing(10,*cus1)

prodcut name :mobile,price:35000 INR,quantity :2 nos
item total:  70000.00 INR

=======================================

total before tax: 70000.00 INR
tax:7000.00INR
final total: 77000.00INR

77000.0

In [30]:
cus2=[
    ("loptop",500000,2),
    ("mouse",60000,1)
]

In [31]:
cus2

[('loptop', 500000, 2), ('mouse', 60000, 1)]

In [32]:
billing(20,*cus2)

prodcut name :loptop,price:500000 INR,quantity :2 nos
item total: 1000000.00 INR

........................

total before tax:1000000.00INR
tax:200000.00INR
final total: 1200000.00INR

1200000.0

In [ ]:
student1=[
    (101,"rohan",50000),
    (102,"rohan",60000)
]

In [37]:
student1

[(101, 'rohan', 50000), (102, 'siran', 60000)]

In [40]:
def show(*args):
    for code,name,fee in args:
        print(f"student code:{code},student_name :{name},student_fee:{fee}")
        print(f".........................")

In [42]:
show(*student1)

student code:101,student_name :rohan,student_fee:50000
.........................
student code:102,student_name :siran,student_fee:60000
.........................

In [43]:
student1

[(101, 'rohan', 50000), (102, 'siran', 60000)]