# veridic function

In [1]:
from warnings import filterwarnings
filterwarnings("ignore")

In [7]:
def multiply(a: int | float, b: int | float) -> int | float:
    """
      Input  : this function takes two numbers as input
    Output  : mutlipication
    """
    c = a + b
    return c

In [8]:
m1 = multiply(3,4)

In [9]:
m1

7

In [10]:

m2 = multiply( a= 23.4 , b= 23.4)

In [11]:
m2

46.8

### operation

In [13]:
def opertion( a1 :int|float , b1 :int|float) -> int | float:
    """ 
   input: give input for operation
    outpur :result
   """
    c1= a1*b1
    c2 = a1/b1
    c3 = a1- b1
    return(c1)

In [14]:
m3 = opertion(20.3,60.3)

In [16]:
m3

(1224.09, 0.33665008291873966, -40.0)

In [17]:
m3

(1224.09, 0.33665008291873966, -40.0)

In [20]:
m3 = opertion(a1= 10, b1=5)

In [21]:
m3

(50, 2.0, 5)

### argument in function.
* args - it act like tuple.

In [22]:
def function1(*args):
    print(args)
    print(type(args))
    for  i in  args:
        print(i)

In [24]:
function1("neelima",301)

('neelima', 301)
<class 'tuple'>
neelima
301

In [25]:
function1(201)

(201,)
<class 'tuple'>
201

In [26]:
def function2(*args):
    print(args)
    print(type(args))
    for i in args:
        print(i)

In [27]:
function2("soni",101,"satna")

('soni', 101, 'satna')
<class 'tuple'>
soni
101
satna

### pass lis into function.

In [28]:
list1=[10,20,30,40,50]
print(list1)
print(type(list1))

[10, 20, 30, 40, 50]
<class 'list'>

In [31]:
function2(*list1)

(10, 20, 30, 40, 50)
<class 'tuple'>
10
20
30
40
50

In [ ]:
def function3(list2 ,i):
    l=[101,102,103]
    list2=i
    print(list2)

In [38]:
function3(*i)

NameError: name 'i' is not defined

### write veriadic function to multiply for product.

In [55]:
def product(*args):
    p = 1
    for i in args:
        p= p * i
        return p

In [56]:
product(10,20)

10

In [52]:
product(2,2)

3

In [57]:
10*20

200

In [58]:
list2= [200,300,400]

In [59]:
product(list2)

[200, 300, 400]

In [60]:
product(*list2)

200