### class in object oriented program

In [29]:
a = 2
print(type(a))

<class 'int'>

In [30]:
b = "good"
print(type(b))

<class 'str'>

In [31]:
d = [2,6 ,4,]
print(type(d))

<class 'list'>

In [32]:
e ={
    "a" :2,
    "b" :6
}
print(type(e))

<class 'dict'>

In [33]:
student ={
    "name" : "pp",
    "age" :20
}

print(type(student))

<class 'dict'>

In [34]:
print(student)

{'name': 'pp', 'age': 20}

In [35]:
s = {
    "roll_no" :[101,102],
    "name": ["ll","kk"]
}
print(type(s))

<class 'dict'>

In [36]:
print(s)

{'roll_no': [101, 102], 'name': ['ll', 'kk']}

In [37]:
import pandas as pd
df = pd.DataFrame(s)
df

   roll_no name
0      101   ll
1      102   kk

In [38]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [39]:
 s2 = {
  "email":["tt@gmail.com","uu@gmail.com"],
  "age":[20,30]
 }

In [40]:
df2 = pd.DataFrame(s2)
df2

          email  age
0  tt@gmail.com   20
1  uu@gmail.com   30

Attributes properties of class dataframe
1.df.shape
2.df.columns
3.df.index
4.df.dtypes
5.df.values

In [41]:
df2.shape

(2, 2)

In [42]:
df2.columns

Index(['email', 'age'], dtype='object')

In [43]:
df.values

array([[101, 'll'],
       [102, 'kk']], dtype=object)

In [44]:
df2.head(2)

          email  age
0  tt@gmail.com   20
1  uu@gmail.com   30

In [45]:
df.tail(1)

   roll_no name
1      102   kk

In [46]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   email   2 non-null      object
 1   age     2 non-null      int64
dtypes: int64(1), object(1)
memory usage: 164.0+ bytes

In [8]:
df.isna().sum()

NameError: name 'df' is not defined

In [7]:
df2.isna().sum()

NameError: name 'df2' is not defined

## create a user defined to store a person infromation

In [39]:
class Person:
    def __init__(self,name, age,gender ,occupation):
        self.name =name
        self.age = age
        self.gender= gender
        self.occupation = occupation

    def intro(self):
        print(f"my name is {self.name}")
        print(f"i am {self.age} years old")  
        print(f"i am {self.gender}")
        print(f"i work as a {self.occupation}")

In [42]:
p1= Person(name="jaya", age=25,gender="male",occupation="HR")
p1

In [43]:
p2= Person(name ="rohini", age =25 , gender ="female" , occupation ="software engineering")

In [32]:
p2

In [33]:
type(p2)

__main__.Person

In [34]:
p2.name

'rohini'

In [35]:
p2.age

25

In [36]:
p2.intro

In [44]:
p1.intro()

my name is jaya
i am 25 years old
i am male
i work as a HR

In [45]:
p2.intro()

my name is rohini
i am 25 years old
i am female
i work as a software engineering

In [47]:
p2.age = 45

In [48]:
p2.intro()

my name is rohini
i am 45 years old
i am female
i work as a software engineering

In [46]:
from dataclasses import dataclass
from typing import Literal

In [62]:
@dataclass
class Person2:
    name:str
    age :int
    gender:Literal["male","female"]
    occupation : str

    def _post_init_(self):
        errors =[]

        if type(self.name) != str:
           errors.append("name should be a string")

        if type(self.age) != int or self.age <= 0:
            errors.append("values should be integer")

        if  self.gender not in ["male", "female"]:
            errors.append("gender should amle or female")

        if type(self.occupation)  != str:
            errors.append("occupation should be string")
       
       # raise error
        if errors:
            raise ValueError("\n".join(errors))       
    def talk(self):
        print(f"my name is {self.name}")
        print(f"i am {self.age} years old")
        print(f"i am {self.gender}")
        print(f"i work as a {self.occupation}")

In [65]:
p3= Person2(name ="ravi",age =-25 , gender  ="male" , occupation= "HR")

In [66]:
p3

Person2(name='ravi', age=-25, gender='male', occupation='HR')