### class in object oriented program

In [29]:
a = 2
print(type(a))

<class 'int'>

In [30]:
b = "good"
print(type(b))

<class 'str'>

In [31]:
d = [2,6 ,4,]
print(type(d))

<class 'list'>

In [32]:
e ={
    "a" :2,
    "b" :6
}
print(type(e))

<class 'dict'>

In [33]:
student ={
    "name" : "pp",
    "age" :20
}

print(type(student))

<class 'dict'>

In [34]:
print(student)

{'name': 'pp', 'age': 20}

In [35]:
s = {
    "roll_no" :[101,102],
    "name": ["ll","kk"]
}
print(type(s))

<class 'dict'>

In [36]:
print(s)

{'roll_no': [101, 102], 'name': ['ll', 'kk']}

In [37]:
import pandas as pd
df = pd.DataFrame(s)
df

   roll_no name
0      101   ll
1      102   kk

In [38]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [39]:
 s2 = {
  "email":["tt@gmail.com","uu@gmail.com"],
  "age":[20,30]
 }

In [40]:
df2 = pd.DataFrame(s2)
df2

          email  age
0  tt@gmail.com   20
1  uu@gmail.com   30

Attributes properties of class dataframe
1.df.shape
2.df.columns
3.df.index
4.df.dtypes
5.df.values

In [41]:
df2.shape

(2, 2)

In [42]:
df2.columns

Index(['email', 'age'], dtype='object')

In [43]:
df.values

array([[101, 'll'],
       [102, 'kk']], dtype=object)

In [44]:
df2.head(2)

          email  age
0  tt@gmail.com   20
1  uu@gmail.com   30

In [45]:
df.tail(1)

   roll_no name
1      102   kk

In [46]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   email   2 non-null      object
 1   age     2 non-null      int64
dtypes: int64(1), object(1)
memory usage: 164.0+ bytes

In [48]:
df.isna().sum()

roll_no    0
name       0
dtype: int64

In [49]:
df2.isna().sum()

email    0
age      0
dtype: int64

## create a user defined to store a person infromation

In [66]:
class person:

 def _init_(self,  name , age , gender, occupation):
    self.name = name
    self .age = age
    self .gender = gender
    self .occupation = occupation


def intro(self):
    print(f"my name is{self.name}")
    print(f"my age is {self.age}")
    print(f"i am {self.gender}")
    print(f"i work as a{self.occupation}")

In [68]:
p1 = person( name ="pp", age =60 , gender ="male" ,occupation = "hr")

TypeError: person() takes no arguments